<h3>Update Product</h3><br>
<form [formGroup]="productForm">
  <div class="form-group row">
    <div class="col-md-4 ">
      <label>Description *</label>
      <input formControlName="description" type="text" class="form-control" [ngClass]="{'is-invalid': f.description.errors && (f.description.dirty || submitted)}" />
      <div *ngIf="(f.description.dirty || f.description.touched || submitted) && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 ">
      <label>Price *</label>
      <input formControlName="price" type="text" class="form-control" [ngClass]="{'is-invalid': f.price.errors && (f.price.dirty || submitted)}" />
      <div *ngIf="(f.price.dirty || f.description.touched || submitted) && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
        <div *ngIf="!f.price.errors.required && f.price.hasError">Price must contain only numbers</div>
      </div>
    </div>
    <div class="col-md-2">
      <label>Weight (kg) *</label>
      <input formControlName="weight" type="text" class="form-control" [ngClass]="{'is-invalid': f.weight.errors && (f.weight.dirty || submitted)}" />
      <div *ngIf="(f.weight.dirty || f.description.touched || submitted) && f.weight.errors" class="invalid-feedback">
        <div *ngIf="f.weight.errors.required">Weight is required</div>
        <div *ngIf="!f.weight.errors.required && f.weight.hasError">Weight must contain only numbers</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="updateProduct()">Update</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" (click)="goBack()">Cancel</button>
      </div>
  </div>
</form>